*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

input[type=submit] {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}

h1 + p {
    margin-top: 20px;
}
